#new-calendar {
  .fc-toolbar {
    .icon-paper-clip {
      font-size: 32px;
    }
  
    .dropdown {
      margin-top: 5px;
      margin-right: -2px;
    }

    .dropdown-menu {
      right: -20px;
      left: initial;
      text-align: left;
      li, a, span {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-drag: none;
        -webkit-user-drag: none;
        -moz-user-drag: none;
      }
    }

    .notification {
      font-size: 10px;
      position: absolute;
      top: 11px;
      right: -9px;
    }

    .icon-caret-down {
      font-size: 13px;
      position: absolute;
      top: 2px;
      right: -5px;
    }
  }  
}