#new-calendar {
	/*!
	 * <%= meta.title %> v<%= meta.version %> Stylesheet
	 * Docs & License: <%= meta.homepage %>
	 * (c) <%= meta.copyright %>
	 */
	
	
	.fc {
		direction: ltr;
		text-align: left;
		}
		
	.fc table {
		border-collapse: collapse;
		/* border-spacing: 0;  no longer have adjacent borders*/
		}
		
	html .fc,
	.fc table {
		font-size: 1em;
		}
		
	.fc td,
	.fc th {
		padding: 0;
		vertical-align: top;
		}

	.fc-axis {
		border: none !important;
	}
	
	
	
	/* Header
	------------------------------------------------------------------------*/
	
	.fc-toolbar {
		background-color: rgb(245, 245, 245);
		position: fixed;
		z-index: 10;
		height: 45px;
		left: 0;
		width: 100%;
		margin-top: -110px;

		button, .icon-paper-clip {
			background-color: rgb(245, 245, 245);
			height: 45px;
			padding-top: 10px;
		}
		.fc-left{
			margin-left: 198px;
		}
		.fc-today-button {
			opacity: 0.65;
		}
	}
	
	td.fc-widget-header {
		top: 85px;
		position: fixed;
		background-color: white;
		z-index: 100;
		margin-right: 10px;
	}
	
	.fc-toolbar td {
		white-space: nowrap;
		}
	
		
	.fc .fc-header-space {
		padding-left: 10px;
		height: 45px;
		position: fixed;
		width: 100%;
		background-color: white;
		z-index: 9;
		margin-top: -70px;
		}
		
	.fc-toolbar .fc-button {
		padding-bottom: 10px;
		vertical-align: top;
		font-weight: 500;
		}

	.fa-icon{
		font-size: 18pt;
		color: grey;
	}
		
	.fc-widget-header, .fc-widget-header th  {
		border-top: none !important;
		border-right: none !important;
		border-left: none !important;
	}

	th.fc-day-header {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color:rgb(221, 221, 221);
	}

	.fc-widget-header tr{
		height: 25px;
	}
		
		
		
	/* Content
	------------------------------------------------------------------------*/
		
	.fc-view-container {
		position: relative;
		z-index: 1; /* scopes all other z-index's to be inside this container */
		clear: both;
		zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 110px;
		margin-bottom: 50px;
		}

		
	.fc-view {
		position: relative;
		width: 100%;
		overflow: hidden;
		}

	.fc-fixed-subheader th{
		border-top: none;
		border-left: none;
		border-right: none;
	}
	.fc-agenda-axis {
		border-top: none;
		border-bottom: none;
	}

	.fc-agenda-axis.axis-left{
		border-left: none;
	}

	.fc-agenda-axis.axis-right{
		border-right: none;
	}

	.fc-content .fc-time{
		float: left;
	}

	/* Menu
	------------------------------------------------------------------------*/
	.fc-menu-content {
		height : 600px;
		width: 250px;
		background-color: rgb(245, 245, 245);
		position: fixed;
		top: 0px;
		left: 1px;
		z-index: 101;
		border: 1px solid #d8d8d8;
	}

	.close {
		float: right;
		margin-top: 2px;
		margin-right: 8px;
	}


	.fc-date-picker {
		min-height: 230px;
    padding-top: 35px;
    margin-left: 2px;
    margin-right: 10px;
    padding-bottom: 30px;


    .ui-datepicker {
    	width: 100%;
    }

		table {
			font-size: 12px;
			font-weight: 700;
		}

		.ui-datepicker-title {
			font-size: 15 px;
		}

		td {
			background-color: #dcdcdc;
		}

		.ui-datepicker-other-month {
			background-color: transparent;
		}

		.ui-widget-content, .ui-widget-header{
			border: none;
			background-color: transparent;
			background: none;
		}

		.ui-state-default {
			background: none;
			border: none;
			font-weight: 700;
		}

		.ui-datepicker-current-day a{
			color: #fff!important;
			background-color: #2789e4;
		}

		.ui-datepicker-today a{
			border-top: 2px solid orange;
		}

		.ui-datepicker td span, .ui-datepicker td a{
			text-align: center;
			padding: 0px;
			width: 28px;
			height: 28px;
			line-height:28px;
			font-size: 12px;
			color: #292929;
			margin-left: auto;
			margin-right: auto;
		}

	  thead th {
			padding: 3px 0;
			color: #b4b4b4;
			font-weight: 500;
			font-size: 13px;
		}

		thead tr {
			border-bottom: 1px solid #E0DBDB;
		}

		.ui-icon{
			background: none;
			width: 0; 
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
		}

		.ui-icon-circle-triangle-e {
			border-left: 10px solid #959ba3;
		}

		.ui-icon-circle-triangle-w {
			border-right: 10px solid #959ba3;
		}

		.ui-state-hover {
			background: none;
			border: none;
			top: 2px;
			span {
				border-left-color: #000000;
				border-right-color: #000000;
			}
		}

		.ui-datepicker-next-hover {
			right: 2px;
		}

		.ui-datepicker-prev-hover {
			left: 2px;
		}
	}		
	
	/* Toolbar
	--------------------------------------------------------------------------------------------------*/
	
	.fc-toolbar {
		text-align: center;
		margin-bottom: 1em;
	}
	
	.fc-toolbar .fc-left {
		float: left;
	}
	
	.fc-toolbar .fc-right {
		float: right;
	}
	
	.fc-toolbar .fc-center {
		display: inline-block;
	}
	
	/* the things within each left/right/center section */
	.fc .fc-toolbar > * > * { /* extra precedence to override button border margins */
		float: left;
		margin-left: .75em;
	}
	
	/* the first thing within each left/center/right section */
	.fc .fc-toolbar > * > :first-child { /* extra precedence to override button border margins */
		margin-left: 0;
	}
		
	/* title text */
	
	.fc-toolbar h2 {
		padding-top: 4px;
	}
	
	/* button layering (for border precedence) */
	
	.fc-toolbar button {
		position: relative;
	}
	
	.fc-toolbar .fc-state-hover,
	.fc-toolbar .ui-state-hover {
		z-index: 2;
	}
		
	.fc-toolbar .fc-state-down {
		z-index: 3;
	}
	
	.fc-toolbar .fc-state-active,
	.fc-toolbar .ui-state-active {
		z-index: 4;
	}
	
	.fc-toolbar button:focus {
		z-index: 5;
	}
	
	
	/* View Structure
	--------------------------------------------------------------------------------------------------*/
	
	/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
	/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
	.fc-view-container *,
	.fc-view-container *:before,
	.fc-view-container *:after {
		-webkit-box-sizing: content-box;
		   -moz-box-sizing: content-box;
		        box-sizing: content-box;
	}
	
	.fc-view, /* scope positioning and z-index's for everything within the view */
	.fc-view > table { /* so dragged elements can be above the view's main element */
		position: relative;
		z-index: 1;
	}

	/* Event Menu */

	.fc-content .dropdown-menu {
		left: -150px;
		width: 150px;
	}
}

