#new-calendar {
	/*!
	 * <%= meta.title %> v<%= meta.version %> Stylesheet
	 * Docs & License: <%= meta.homepage %>
	 * (c) <%= meta.copyright %>
	 */
	
	
	.fc {
		direction: ltr;
		text-align: left;
		}
		
	.fc table {
		border-collapse: collapse;
		border-spacing: 0;
		}
		
	html .fc,
	.fc table {
		font-size: 1em;
		}
		
	.fc td,
	.fc th {
		padding: 0;
		vertical-align: top;
		}
	
	
	
	/* Header
	------------------------------------------------------------------------*/
	
	.fc-header {
		position: fixed;
		z-index: 10;
		height: 100px;
		margin-top: -100px;
		background-color: white;

		.header-buttons {
			background-color: rgb(245, 245, 245);
			height: 40px;
			td span{
				margin-top: 10px
			}
		}
	}
	
	.fc-fixed-subheader {
		position: fixed;
		width: 100%;
		background-color: white;
		z-index: 3;
	}
	.fc-hidden-subheader {
		width: 100%;
		background-color: white;
		z-index: 2;
		visibility: hidden;
	}
	
	.fc-header td {
		white-space: nowrap;
		}
	
	.fc-header-left {
		width: 25%;
		text-align: left;
		}
		
	.fc-header-center {
		text-align: center;
		}
		
	.fc-header-right {
		width: 25%;
		/*text-align: right;*/
		}
		
	.fc-header-title {
		display: inline-block;
		vertical-align: top;
		}
		
	.fc-header-title h2 {
		margin-top: 0;
		white-space: nowrap;
		}
		
	.fc .fc-header-space {
		padding-left: 10px;
		}
		
	.fc-header .fc-button {
		margin-bottom: 1em;
		vertical-align: top;
		}
		
	/* buttons edges butting together */
	
	.fc-header .fc-button {
		margin-right: -1px;
		}
		
	.fc-header .fc-corner-right,  /* non-theme */
	.fc-header .ui-corner-right { /* theme */
		margin-right: 0; /* back to normal */
		}
		
	/* button layering (for border precedence) */
		
	.fc-header .fc-state-hover,
	.fc-header .ui-state-hover {
		z-index: 2;
		}
		
	.fc-header .fc-state-down {
		z-index: 3;
		}
	
	.fc-header .fc-state-active,
	.fc-header .ui-state-active {
		z-index: 4;
		}
		
		
		
	/* Content
	------------------------------------------------------------------------*/
		
	.fc-content {
		position: relative;
		z-index: 1; /* scopes all other z-index's to be inside this container */
		clear: both;
		zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
		margin-top: 100px;
		}
		
	.fc-view {
		position: relative;
		width: 100%;
		overflow: hidden;
		}

	/* Menu
	------------------------------------------------------------------------*/
	.fc-menu-content {
		height : 600px;
		width: 250px;
		background-color: rgb(245, 245, 245);
		position: fixed;
		top: 0px;
		left: 1px;
		z-index: 101;
		border: 1px solid #d8d8d8;
	}

	.close {
		float: right;
		margin-top: 2px;
		margin-right: 8px;
	}


	.fc-date-picker {
    padding-top: 35px;
    margin-left: 2px;
    margin-right: 10px;
    padding-bottom: 30px;


    .ui-datepicker {
    	width: 100%;
    }

		table {
			font-size: 12px;
			font-weight: 700;
		}

		.ui-datepicker-title {
			font-size: 15 px;
		}

		td {
			background-color: #dcdcdc;
		}

		.ui-datepicker-other-month {
			background-color: transparent;
		}
		.ui-widget-content, .ui-widget-header{
			border: none;
			background-color: transparent;
			background: none;
		}
		.ui-state-default {
			background: none;
			border: none;
			font-weight: 700;
		}
		.ui-datepicker-today a{
			color: #fff!important;
			background-color: #2789e4;
		}
		.ui-datepicker td span, .ui-datepicker td a{
			text-align: center;
			padding: 0px;
			width: 28px;
			height: 28px;
			line-height:28px;
			font-size: 12px;
			color: #292929;
			margin-left: auto;
			margin-right: auto;
		}

	  thead th {
			padding: 3px 0;
			color: #b4b4b4;
			font-weight: 500;
			font-size: 13px;
		}

		thead tr {
			border-bottom: 1px solid #E0DBDB;
		}

		.ui-icon{
			background: none;
			width: 0; 
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
		}

		.ui-icon-circle-triangle-e {
			border-left: 10px solid #959ba3;
		}

		.ui-icon-circle-triangle-w {
			border-right: 10px solid #959ba3;
		}

		.ui-state-hover {
			background: none;
			border: none;
			top: 2px;
			span {
				border-left-color: #000000;
				border-right-color: #000000;
			}
		}

		.ui-datepicker-next-hover {
			right: 2px;
		}
		.ui-datepicker-prev-hover {
			left: 2px;
		}
	}
}	
